html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 5px; */
  background: #06051c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06051c;
  border-radius: 5px;
}

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

.box {
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  /* animation-delay: ; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* glowing effect */

.myGlower:hover {
  border-color: #69c800;
  -webkit-box-shadow: 0 0 10px #69c800;
  -moz-box-shadow: 0 0 10px #69c800;
  box-shadow: 0 0 10px #69c800;
}

.myGlower {
  animation: glow 1s infinite alternate;
  -webkit-transition: border 0.6s linear, box-shadow 0.6s linear;
  -moz-transition: border 0.6s linear, box-shadow 0.6s linear;
  transition: border 0.6s linear, box-shadow 0.6s linear;
}
